@if(movie(); as movie){
<h2>{{movie.name}}</h2>
@for(actor of movie.cast; track actor ){
<p>{{actor}}</p>
}



<p>
    {{movie.description}}
</p>
}

<!-- 
@if (movie(); as movie) {
    <div class="meta">
        <img [src]="poster()" alt="movie.name">
        <h1>{{movie.name}}</h1>   
        <div class="cast">
            @for(actor of movie.cast; track actor) {
                <div class="actor">{{actor}}</div>
            }
        </div> 
    </div>
    <p>
        {{movie.description}}
    </p>

} -->